.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 40%;
    margin-top: 30px;
    justify-content: space-around;
}

.nav{
  position: fixed;
  z-index: 1001;
  width: 100%;
}

.spacer
{  
    width: 100%;
    height: 120px;
}
