.movie{
    width: 19.3%;
    height: 320px;;
    margin-bottom: 20px;
}
 a {
   text-decoration: none;
   cursor: pointer;
   color: initial;
 }
 
.makeStyles-media-29 {
   height: 250px !important;
}

.movie-details-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

p{
  text-align: left;
  margin: auto !important;
}

.movieCard{
  margin-top: 30px;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 768px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .movie{
        width: 30%;
        height: 450px;;
        margin-bottom: 20px;
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .movie{
        width: 24%;
        height: 450px;;
        margin-bottom: 20px;
    }
    .spacer
{  
    width: 100%;
    height: 150px;
}
}

@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 640px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
  .movie{
      width: 48%;
      height: 500px;;
      margin-bottom: 20px;
  }
}


@media only screen 
and (min-device-width: 360px) 
and (max-device-width: 640px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
  .movie{
      width: 24%;
      height: 450px;;
      margin-bottom: 20px;
  }
}